
.footer-fixed {
    position: fixed;
    bottom: 0%;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    padding-bottom: 20px;
}

@media screen and (max-width:414px) and (max-height:800px) {

    .footer-fixed {
        position: relative;
        bottom: 0%;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
 