
.container-messages--style {
    height: 350px;
    overflow-y: auto;
    border-radius: 1%;
    background-color: white;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px darkslategrey;
}